
.panel-picture {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .panel-picture {
    height: 75%;
  }
}

@media only screen and (max-width: 450px) {
  .panel-picture {
    height: 50%;
  }
}

@media only screen and (max-width: 350px) {
  .panel-picture {
    height: 40%;
  }
}
