<mat-grid-list
  [cols]="numCols"
  rowHeight="400px"
  [style.background]="backgroundColor"
>
  <mat-grid-tile *ngIf="shouldDisplayPadding"
                 [colspan]="1"
                 [rowspan]=1
  >
  </mat-grid-tile>
  <mat-grid-tile *ngIf="shouldDisplayLeftPicture"
    [colspan]="numPictureCols"
    [rowspan]=1
  >
    <app-picture-with-caption class="panel-picture"
      [imageUrl]="imageUrl"
      [imageAlt]="imageAlt"
      [caption]="imageCaption"
      [imgCardStyles]="imgCardStyles"
    ></app-picture-with-caption>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="shouldDisplayInputArea"
    [colspan]="numTextCols"
    [rowspan]=1
    >
    <ng-content></ng-content>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="shouldDisplayRightPicture"
    [colspan]="numPictureCols"
    [rowspan]=1
    >
    <app-picture-with-caption class="panel-picture"
      [imageUrl]="imageUrl"
      [imageAlt]="imageAlt"
      [caption]="imageCaption"
      [imgCardStyles]="imgCardStyles"
    ></app-picture-with-caption>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="shouldDisplayPadding"
                 [colspan]="1"
                 [rowspan]=1
  >
  </mat-grid-tile>
</mat-grid-list>



