<app-main-header [options]="landingHeaderOptions"></app-main-header>

<app-main-banner
  imageUrl="assets/images/taylor-model.jpg"
></app-main-banner>

<app-title-panel titleText="The Cutest Girl in the World" id="taylor"></app-title-panel>

<app-picture-panel
  imageUrl="assets/images/taylor.jpg"
  imageAlt="A cutie"
  picturePosition="left"
  [imgCardStyles]="{'background-position': 'right center'}"
>
  <p class="picture-panel-para">You, Taylor Petry are an adorable human.</p>
</app-picture-panel>

<app-picture-panel
  imageUrl="assets/images/taylor-silly.jpg"
  imageAlt="A silly girl"
  picturePosition="right"
  [imgCardStyles]="{'background-position': 'left center'}"
>
  <p class="picture-panel-para">You're adorable even when you're being silly.</p>
</app-picture-panel>

<app-picture-panel
  imageUrl="assets/images/taylor-happy-nachos.jpg"
  imageAlt="A cutie about to scarf down some nachos"
  picturePosition="left"
  backgroundColor="#fafff9"
>
  <p class="picture-panel-para">You love people, stories, cats, coffee, and above all else, nachos.</p>
</app-picture-panel>

<app-picture-panel
  imageUrl="assets/images/taylor-intense.jpg"
  imageAlt="Do not mess with this girl."
  picturePosition="right"
  backgroundColor="#fafff9"
>
  <p class="picture-panel-para">You don't love me delaying a proposal for an extended period of time.</p>
</app-picture-panel>

<app-text-panel
  text="I think every day about how lucky I am to be with you. You're the sweetest, most caring girl I've ever met."
></app-text-panel>

<app-picture-panel
  imageUrl="assets/images/taylor-sweet.jpg"
  imageAlt="The sweetest girl in the world!"
  picturePosition="center"
  [imgCardStyles]="{'width': sweetImageWidth}"
  backgroundColor="#fafff9"
>
</app-picture-panel>

<app-title-panel titleText="A Couple in Love" id="love"></app-title-panel>

<app-picture-panel
  imageUrl="assets/images/us-in-mexico.jpg"
  imageAlt="Damn, that\'s a hot couple!"
  picturePosition="left"
>
  <p class="picture-panel-para">We are a match made in heaven.</p>
</app-picture-panel>

<app-picture-panel
  imageUrl="assets/images/us-silly.jpg"
  imageAlt="Maybe not so hot anymore."
  picturePosition="right"
>
  <div>
    <p class="picture-panel-para">You keep me having fun!</p>
    <p class="picture-panel-para">There is never a dull moment when Taylor Petry is around.</p>
  </div>

</app-picture-panel>

<app-picture-panel
  imageUrl="assets/images/trek-through-mud.jpg"
  imageAlt="Maybe not so hot anymore."
  picturePosition="left"
>
  <div>
    <p class="picture-panel-para">I keep you logical and organized.</p>
    <p class="picture-panel-para">We get through shit together.</p>
  </div>

</app-picture-panel>

<app-picture-panel
  imageUrl="assets/images/us-beginning.jpg"
  imageAlt="Damn, that's a young couple!"
  picturePosition="right"
  backgroundColor="#fafff9"
>
  <div>
    <p class="picture-panel-para">We've shared most of our adult lives together.</p>
    <p class="picture-panel-para">Look at how young we were back then!</p>
  </div>
</app-picture-panel>

<app-picture-panel
  imageUrl="assets/images/us-early.jpg"
  imageAlt="Aww"
  picturePosition="center"
  backgroundColor="#fafff9"
>
</app-picture-panel>

<app-text-panel
  text="We started dating with a time limit. I had to leave Richmond. But, our love was too strong to separate us..."
></app-text-panel>

<app-picture-panel
  imageUrl="assets/images/us-move-to-fl.jpg"
  imageAlt="On to the next chapter of our life."
  picturePosition="left"
  backgroundColor="#fafff9"
>
  <p class="picture-panel-para">You took an incredible leap of faith to move down to Gainesville with me.</p>
</app-picture-panel>

<app-text-panel
  text="Now it's my turn. You tell me where to go and I will follow."
></app-text-panel>

<app-picture-panel
  imageUrl="assets/images/travel-vegas.jpg"
  imageAlt="There's a lot of cool things to see on this blue ball."
  picturePosition="right"
  backgroundColor="#fafff9"
>
  <p class="picture-panel-para">I want to travel the world with you.</p>
</app-picture-panel>

<app-title-panel titleText="The Question" id="ask"></app-title-panel>

<div
  class="proposal-audio-container"
  [style.background-image]="'url(assets/images/proposal-background.jpg)'"
>
  <app-audio-widget class="proposal-audio"
                    source="assets/audio/marisol.ogg"
                    [autoplay]="autoplaySong"
  ></app-audio-widget>
</div>

