.picture-panel-para {
  font-size: 22px;
  padding: 20px;
}

.proposal-audio {
}

.proposal-audio-container {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .picture-panel-para {
    font-size: 18px;
  }
}

@media only screen and (max-width: 450px) {
  .picture-panel-para {
    font-size: 14px;
  }
}
