<app-main-header [options]="landingHeaderOptions"></app-main-header>

<app-main-banner
  [imageUrl]="'assets/images/taylor-model.jpg'"
  [titleStr]="'Super Fine'"
></app-main-banner>

<app-picture-panel
  [imageUrl]="'assets/images/taylor.jpg'"
  [imageAlt]="'A cutie'"
  [imageCaption]="'This girl pretty cool.'"
  [backgroundColor]="'lightblue'"
  [picturePosition]="'left'"
>
  <p>Some text I added.</p>
</app-picture-panel>

<app-title-panel [titleText]="'A title'" id="taylor"></app-title-panel>

<app-picture-panel
  [imageUrl]="'assets/images/taylor.jpg'"
  [imageAlt]="'A cutie'"
  [imageCaption]="'This girl pretty cool.'"
  [picturePosition]="'right'"

>
  <p>Some text I added.</p>
</app-picture-panel>

<app-title-panel [titleText]="'A title'" id="love"></app-title-panel>

<app-picture-panel
  [imageUrl]="'assets/images/taylor.jpg'"
  [imageAlt]="'A cutie'"
  [imageCaption]="'This girl pretty cool.'"
  [picturePosition]="'center'"
>
  <p>Some text I added.</p>
</app-picture-panel>

<app-title-panel [titleText]="'A title'" id="ask"></app-title-panel>

<app-picture-panel
  [imageUrl]="'assets/images/taylor.jpg'"
  [imageAlt]="'A cutie'"
  [imageCaption]="'This girl pretty cool.'"
>
  <p>Some text I added.</p>
</app-picture-panel>
