
.text-container {
  width: 100%;
  background-color: rgba(0, 56, 9, 0.8);
}

.text-para {
  font-size: 2em;
  line-height: 1.75em;
  text-align: center;
  padding: 100px;
  color: white;
  margin: 0;
}

.image-container {
  background-position: center center;
  background-size: cover;
}

@media only screen and (max-width: 850px) {
  .text-para {
    padding: 70px;
    font-size: 1.75em;
    line-height: 1.5em;
  }
}

@media only screen and (max-width: 500px) {
  .text-para {
    padding: 40px;
    font-size: 1.5em;
    line-height: 1.35em;
  }
}
