#!/usr/bin/env bash

# Upon initial clone, copy this file to env.sh and fill out environment variables

# Custom domain where app will be published, e.g. example.com
export ROOT_URL="";

# Github personal access token (https://github.com/settings/tokens)
export GH_TOKEN="";

# Starting from github.com, ending with name of repo without extension
export REPO_URL="github.com/your-user/your-repo";

# Build directory (relative directory starting from angular root)
export PROJECT_DIR="dist/your-app-name";

# Name of user which is pushing Github Pages commits
export NAME_OF_USER="";

# Email of user which is pushing Github Pages commits
export EMAIL_OF_USER="";
